<a href="https://colab.research.google.com/github/Manoranjanhere/pythonnewclass/blob/main/Day3_Python_BootCamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MODULES IN PYTHON**
It is same as code library. A file containing a set of function you want to include in your application.

In [ ]:
# 1) MATH Module

# ---> importing modules - importing all functions, importing all functions as alias, importing specific method

# ---> How to use any method?

In [ ]:
# 2) RANDOM Module

# i)   Creating random integers: randint(start, end)
# ii)  Creating random floating numbers: random()
# iii) Selecting random elements: choice(sequence)
# iv)  Shuffling a sequence: shuffle(sequence)

# **LOOPS IN PYTHON**

**1) WHILE LOOP**

Q.1) Program to print table of any number.

In [ ]:
num = int(input("ENter a number: "))

i = 1
while i < 11:
    print(num*i)
    i += 1

ENter a number: 5
5
10
15
20
25
30
35
40
45
50

break and continue statements examples.

In [ ]:
# Example.1

n = 5
while n > 0:
    
    if n == 2:
        break
    n -= 1
    print(n)
print("Loop ended!")

4
3
2
Loop ended!

In [1]:
#Example.2

n = 5
while n > 0:
    
    if n == 2:
        continue
    n -= 1
    print(n)
print("Loop ended!")

4
3
2

KeyboardInterrupt: ignored

The Loop Else clause in WHILE

In [ ]:
# Example.1
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done!')

In [ ]:
# Example.2
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print("Loop Done!")

In [2]:
# Example.3

a = ['foo', 'bar', 'baz', 'qux']
s = 'corge'
i = 0
while i < len(a):
    if a[i] == s:
        #processing for item found
        break
    i += 1
else:
    #processing for item not found
    print(s, 'not found in the list.')

corge not found in the list.

**INFNITE WHILE LOOP**

In [ ]:
# Example.1

while True:
    print(True)

In [3]:
# Example.2

i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**2) FOR LOOP**

i) ITEARABLES - iter() method

In [ ]:
#iter is used to take one object at a time.

ii) Iterator - next() method

In [11]:
a = 'foobar'
itr = iter(a)
print(itr)
print(next(itr))
print(next(itr))

<str_iterator object at 0x7fdb9b00b6d0>
f
o

Behind the scenes of FOR loop.

In [12]:
# Example

a = ['foo', 'bar', 'baz']

for i in a:
    print(i)

foo
bar
baz

**The range() function**

In [13]:
# To iterate through the values from 0 to 4, just do this:

for i in (0,1,2,3,4):
    print(i)

0
1
2
3
4

In [ ]:
# Syntaxes:

# 1) range(<end>)


# 2) range(start, stop)


# 3) range(start, stop, skip)

In [14]:
# To access values of range()

x = range(0,5)
for i in x:
    print(i)

0
1
2
3
4

**break & continue statement in FOR loop**

In [17]:
# Example.1

for a in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in a:
        break
    print(a)
print("hi"+a)

foo
hibar

In [16]:
# Example.2

for a in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in a:
        continue
    print(a)

foo
qux

The loop-else in FOR

In [18]:
# Example.1

for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Loop Done!')

foo
bar
baz
qux
Loop Done!

In [30]:
# Example.2

for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Loop Done!')

foo