<a href="https://colab.research.google.com/github/Manoranjanhere/pythonnewclass/blob/main/Day4_Python_BootCamp_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **STRINGS**

**1) Creating Strings**

In [ ]:
# 1) single quote
# 2) Double quote
# 3) Triple Single Quote
# 4) Triple Double Quote
# 5) String str()

# 'It's me, Mohit' ------> X
# "It's me, Mohit" ------> âœ“

**2) Accessing substrings from a string**

Each time we declare a string, Python automatically creates/assign the index to each character of the string. Both poisitive and negative.

1) Positive Indexing(starts from 0)

In [ ]:
# Examples

2) Negative Indexing(starts from -1)

In [ ]:
# Examples

**SLICING**

i) Accessing by positive indexing.

In [ ]:
s = 'Hello everyone, My name is Python'
print(s[:-1])

Hello everyone, My name is Pytho

ii) Accessing by negative indexing

**3) Editing and Deleting in Strings**
Editing is not possible in string because strings are immutable.

'del' keyword is used to delete a string.

In [ ]:
s = 'Hello world'

#deleting entire string

#deleting using slicing

**4) Operations on Strings**

i) Arithmetic Operations(+, *)

ii) Relational Operators(lexicographically)

In [ ]:
# E.g.

print('delhi' != 'delhi')
print('Pune' > 'pune')

iii) Logical Operators: In Python if any string has any character then it is considered as true and if the string is empty, it is considered as False.

In [ ]:
# E.g.
'hello' and 'world'
'hello' or 'world'
'' and 'world'
'' or 'world'
not ''
not 'hello'

iv) Traversing the string

v) Membership operations

**5) In-Built common functions**

1) Finding length - len()

2) Finding Maximum - max()

3) Finding minimum - min()

4) Sorting the string - sorted()

In [5]:
# 1)
st = "My name is Python"
size = len(st)
print(size)

# 2)
print(max(st))

# 3)
print(min(st))

# 4) Sorting decending
print(sorted(st , reverse = True))
#acending
a = sorted(st)
print(a)

17
y

['y', 'y', 't', 's', 'o', 'n', 'n', 'm', 'i', 'h', 'e', 'a', 'P', 'M', ' ', ' ', ' ']
[' ', ' ', ' ', 'M', 'P', 'a', 'e', 'h', 'i', 'm', 'n', 'n', 'o', 's', 't', 'y', 'y']

5) First char to capital - capitalize()

6) Title - title()

7) All letters to uppercase - upper()

8) All letters to lowercase - lower()

9) Frequency count of a substring - count()

10) Finding the Index - index()

In [11]:
s="pujh kahj"
print(s.capitalize())
print(s.title())
print(s.upper())
print(s.lower())
print(s.count("U"))
print(s.count("u"))
print(s.index("j"))
print(s.index(" "))

Pujh kahj
Pujh Kahj
PUJH KAHJ
pujh kahj
0
1
2
4

11) Checking if string is alphanumeric - isalnum()

12) Checking if string is alphabetic only - isalpha()

13) Checking if string has digits only - isdigit()

14) Splitting the string - split()

15) Joining the splited string - join()

16) Replace the substring - replace()

17) Remove extra spaces - strip()

In [33]:
z="helli34"
print(z.isalnum())#check it cointains alphabet and number or not become false if contain " "(space) and special character.
z= "hwemkdn"
print(z.isalpha())
z="8776"
print(z.isdigit())
z="  hello 123 world 45  "
print(z.split("o"))
lst=z.split()
print(lst)
print("o".join(z))
print(z.replace("o","z"))
print(z.strip())

True
True
True
['  hell', ' 123 w', 'rld 45  ']
['hello', '123', 'world', '45']
 o ohoeololooo o1o2o3o owooorolodo o4o5o o
  hellz 123 wzrld 45
hello 123 world 45