<a href="https://colab.research.google.com/github/Manoranjanhere/pythonnewclass/blob/main/Day_2_Python_BootCamp_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **USER INPUT**


*   "input()" function is used to take input from user.
*   By default it takes input as a string because string is an universal data format. E.g., int can be converted into string, but vice-versa is not possible.

In [ ]:
# input()


# name = input()


# input("Enter name: ")

# **TYPE CONVERSION**
1) Implicit type conversion: Python internally converts the data type.

In [2]:
print(5 + 5.6)

10.6

However, implicit conversion not always works:

In [8]:
#print(5 + '4')

2) Explicit Conversion: When programmer requests python to change the data type explicitly. There are some functions to explicitly change the data type.

In [7]:
#String ----> int
a = int('4')

print(a)
print(type(a))
#int ----> string
print(str(4))

#int ----> float
print(float(4))

4
<class 'int'>
4
4.0

**NOTE:** *While Type conversion, a new object is created of that instance/data and we work on new converted data.*

**PROGRAM:** *Program to add two numbers, take input from user.*

In [13]:
a = input("enter first number")
b= input("enter second number")
print(a+b)
result= int(a)+int(b);
print(result)

enter first number5
enter second number9
59
14

# **OPERATORS IN PYTHON**
1) Arithmetic Operators: (+, -, *, /, //, %, **)

2) Relational Operators: (>, <, >=, <=, ==, !=)

3) Logical Operators: (and, or, not)

4) Bitwise Operators: (&, |, ^, ~, <<, >>)

5) Assignment Operators: (=, +=, -=, *=, /=, %=, **=, &=, |=)

6) Membership Operators: (in, not in)

1) Arithmetic Operators: (+, -, , /, //, %, *)

In [12]:
# E.g.
a=10
b=5
print(a+b)
print(a-b)
print(a/b)
print(a//b)
print(a%b)

15
5
2.0
2
0

2) Relational Operators: (>, <, >=, <=, ==, !=)

In [14]:
# E.g.
print(4>3)
print(4<3)
print(6==8)

True
False
False

3) Logical Operators: (and, or, not)

In [17]:
# 1) and = returns true if both statements are true
print(1 and 0)

# 2) or = returns True if one of the statements is true
print(1 or 0)

# 3) not = reverse the result, returns False if the result is true
print(not 1)
print(4 and 3)

0
1
False
3

4) Bitwise Operators: (&, |, ^, ~, <<, >>)

5) Assignment Operators: (=, +=, -=, *=, /=, %=, **=, &=, |=)

In [26]:
# E.g.
a=5
b=4
print(a&b)
a&=b
print(a)

4
4

6) Membership Operators: (in, not in)

**PROGRAM:** Find the sum of a 3-digit number entered by the user?

In [27]:
# E.g.
print(1 in [1,5,3])
print('a'not in "python")

True
True

In [45]:
a = int(input("1st "))
sum=0
while(a!=0):
  sum+=a%10
  a//=10
print(sum)

1st 456
15

# **CONDITIONAL STATEMENTS**
If-Else is used to code for branching fo code at a certain point of code execution.

1) PROGRAM: Login system.

2) PROGRAM: Little advance login system.

3) PROGRAM: Find minimum of 3 numbers.

4) PROGRAM: Menu driven calculator.(HW)

In [53]:
user_name = "Python"
password=123456
user= input("Enter user name ")
pas= int(input("enter password "))
if(user_name==user and password==pas):
  print("welcome")
else:
  print("invalid")

Enter user name python
enter password 123456
invalid

In [57]:
#Menu driven calculator.(HW)
n1= int(input("Enter 1st number = "))
n2 = int(input("enter second number = "))
operation= input("enter operation from +,-,*,/,% = ")
if(operation =="+"):
  print(n1+n2)
elif(operation=="-"):
  print(n2-n2)
elif(operation=="*"):
  print(n1*n2)
elif(operation =="/"):
  print(n1/n2)
elif(operation=="%"):
  print(n1%n2)
else:
  print("Wrong input")

Enter 1st number = 6
enter second number = 2
enter operation from +,-,*,/,% = %
0